:root {
  --shadow_color: #00000066;
}

body {
  font-family: "Ubuntu", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 5px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 60px 1fr 45px;
  text-align: center;
  overflow: hidden;
  background-color: #444;
}

span {
  color: #496bbe;
}

#container {
  display: inline-block;
  width: calc((100vh - 60px) * 0.47);
  height: auto;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

canvas {
  border-radius: 15px;
}

.shadow {
  -webkit-filter: drop-shadow(3px 2px 1px var(--shadow_color));
  filter: drop-shadow(3px 2px 1px var(--shadow_color));
}
